<ion-content padding>

  <div class="page_picture">
    <img *ngIf="neighbourhood" src="../../assets/maps/{{neighbourhood.force}}.png">
  </div>

  <ion-card padding>

    <ion-fab left top>
      <button ion-fab (click)="goBack()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-fab>

    <ion-list *ngIf="team">
      <h1 class="neighbourhood">{{neighbourhood.neighbourhood | uppercase}} - {{neighbourhood.force.replace('-', ' ') | titlecase}}</h1>
      <hr />
      <ion-item *ngFor="let person of team" (click)="goToDetails(person)">
        <ion-avatar *ngIf="person.image" item-start>
          <img [src]="person.image">
        </ion-avatar>
        <ion-icon *ngIf="!person.image" item-start item-large name="person" class="grey"></ion-icon>
        <h2>{{person.name}}</h2>
        <p>{{person.rank}}</p>
        <ion-icon item-end name="ios-arrow-forward-outline" class="grey"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
