.card {
  .card-title {
    color: #1b4080;
    font-weight:bold;
  }

  .card-subtitle {
    font-size: 1.0em;
    color: #1b4080;
    font-weight:bold;
  }

  .contact_details {
    ion-icon {
      color: #1b4080;
      margin-right:5px;
    }
  }
}
